@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.driverinspectionnotificationfrontend.config.AppConfig
@import uk.gov.hmrc.driverinspectionnotificationfrontend.views.html.main_layout_full_width_template

@this(mainTemplate: main_layout_full_width_template, hmrcPageHeading: HmrcPageHeading)


@(gmrId: Option[String])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@mainTemplate(
    pageTitle = Some(s"${messages("no_inspection_needed_page_import.title")} - ${messages("service.name")} - ${messages("generic.title.suffix")}"),
    backLinkEnabled = true
) {

    @hmrcPageHeading(PageHeading(
      text = messages("no_inspection_needed_page_import.title")
    ))

    <h2 class="govuk-heading-l">@messages("no_inspection_needed_page_import.h2")</h2>

    <p class="govuk-body">@messages("no_inspection_needed_page_import.what_happens_next.p1") </p>

    <h3 class="govuk-heading-m">@messages("no_inspection_needed_page_import.h3.other_controls")</h3>

    <p class="govuk-body"> @messages("no_inspection_needed_page_import.other_controls.p1")</p>

    <h3 class="govuk-heading-m">@messages("no_inspection_needed_page_import.h3.ending_transit")</h3>

    <p class="govuk-body"> @messages("no_inspection_needed_page_import.ending_transit.p1")</p>

    <h3 class="govuk-heading-m">@messages("no_inspection_needed_page_import.h3.no_controls")</h3>

    <p class="govuk-body"> @messages("no_inspection_needed_page_import.no_controls.p1")</p>

    <hr/>

    <br/>
    <p class="govuk-body">
        <a href="@uk.gov.hmrc.driverinspectionnotificationfrontend.controllers.routes.SearchController.show(None)" class="govuk-link">@messages("search_page.check_another_gmr")</a>
    </p>

    <p class="govuk-body">
        <a href= @appConfig.exitSurveyFeedback() class="govuk-link">@messages("generic.feedback.linkText")</a>
        @messages("generic.feedback.qualifier")
    </p>

}