@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.html.components.{HmrcPageHeading, PageHeading}
@import uk.gov.hmrc.driverinspectionnotificationfrontend.views.html.main_layout_full_width_template
@import uk.gov.hmrc.driverinspectionnotificationfrontend.config.AppConfig

@this(mainTemplate: main_layout_full_width_template, hmrcPageHeading: HmrcPageHeading)

@(pageTitle: String, heading: String, message: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@mainTemplate(pageTitle = Some(s"$pageTitle - ${messages("service.name")} - ${messages("generic.title.suffix")}"), backLinkEnabled = true) {
  @hmrcPageHeading(PageHeading(text = heading))
  <p class="govuk-body">@message</p>
}
