@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.footer.FooterItem
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.language.LanguageSelect
@import uk.gov.hmrc.driverinspectionnotificationfrontend.config.AppConfig
@import uk.gov.hmrc.driverinspectionnotificationfrontend.utils.LanguageMap
@import uk.gov.hmrc.driverinspectionnotificationfrontend.views.html.{govukTwoThirdsLayout, head}
@import uk.gov.hmrc.hmrcfrontend.controllers.routes.LanguageController.switchToLanguage
@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcLanguageSelect
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.{Cy, En}
@import views.html.helper.CSPNonce



@this(
govukLayout: govukTwoThirdsLayout,
head: head,
hmrcLanguageSelect:  HmrcLanguageSelect,
govukBackLink: GovukBackLink
)

@(pageTitle: Option[String], backLinkEnabled: Boolean)(contentBlock: Html)(implicit request: Request[_], appConfig: AppConfig, messages: Messages)

@beforeContentBlock = {

    @if(backLinkEnabled) {
    @govukBackLink(BackLink(href = "#", content = Text(messages("generic.back")), attributes = Map("id" -> "back")))

        <script @{CSPNonce.attr} >
            document.getElementById("back").addEventListener("click", () => window.history.back());
        </script>
    <script @{CSPNonce.attr}>
            if(document.body.className.indexOf("js-enabled") != -1 && document.getElementById('back') != null) {
                document.getElementById('back').removeAttribute("style");
            }
    </script>
    }
}

@govukLayout(
    pageTitle = pageTitle,
    headBlock = Some(head()),
    headerBlock = None,
    beforeContentBlock = Some(beforeContentBlock),
    footerBlock = None,
    footerItems = Seq.empty[FooterItem],
    bodyEndBlock = None,
    scriptsBlock = None,
)(contentBlock)